body {
  color: aliceblue;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #1a1a1a;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  color: #1a1a1a;
  padding: 20px;
}
.brand img {
  width: 70px;
}
.site-name {
  font-size: 30px;
  font-weight: 900;
  font-family: sans-serif;
}
.rubik {
  color: #eaeaea;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.art {
  color: #00bfff;
  text-shadow: 0 0 20px rgba(0, 191, 255, 0.7);
}
a svg {
  width: 20px;
  padding: 10px;
  fill: aliceblue;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(26, 26, 26, 0.95) 0%,
    rgba(28, 34, 65, 0.98) 100%
  );

  border-right: 1px solid rgba(9, 39, 175, 0.1);
  z-index: 1000;
}

.sidebar a {
  display: flex;
  color: #e0e0e0;
  align-items: center;
  padding: 15px 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  border-bottom: 2px solid rgba(2, 183, 255, 0.1);
  font-weight: 500;
}

.sidebar a:hover {
  color: #00bfff;
  background: rgba(0, 191, 255, 0.1);
  border-left: 2px solid #00bfff;
  transform: translateX(8px);
  width: 190px;
}

a:hover svg {
  fill: #00bfff;
}

.sidebar a:active {
  background: linear-gradient(90deg, rgb(15, 75, 187), rgb(30, 90, 200));
  color: white;
}

main {
  margin-left: 250px;
  padding: 0;
  width: calc(100% - 250px);
  min-height: 100vh;
  background: linear-gradient(90deg, #1a1a1a 0%, #1c2241 100%);
}
main::after {
  content: "";
  display: block;
  height: 100px;
}
