h1 {
  text-align: center;
  font-size: 2rem;
}

.pll-grid {
  display: grid;
  grid-template-columns: repeat(3,350px);
  gap: 70px;
  padding: 10px 20px;
  justify-content: center;
  max-width: 1400px;
  margin: 20px auto;
}

@media (max-width: 1400px) {
  .pll-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .pll-grid {
    grid-template-columns: 1fr;
  }
}

.pll-card {
  background-color: rgb(227, 240, 247);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 350px;
  color: rgb(24, 5, 5);
  box-sizing: border-box;
}

p {
  font-style: bold;
  font-size: 20px;
}
span {
  font-weight: bold;
  font-size: 20px !important;
}
img {
  width: 100%;
  max-width: 350px;
  height: auto;
}
.introduce p {
  margin: auto 100px;
}
.img-intro {
  text-align: center;
}
