h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  color: #00bfff;
  text-shadow: 0 0 20px rgba(0, 191, 255, 0.7);
}

.introduce p {
  text-align: center;
  font-size: 1.2em;
  color: #e0e0e0;
  line-height: 1.6;
}

.img-intro {
  text-align: center;
}

.pll-container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #212c40;
  border: 1px solid #2e3b55;
  box-shadow: 0 4px 20px rgba(0, 191, 255, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.pll-header {
  background-color: #1c1c1e;
  padding: 16px 20px;
  border-bottom: 1px solid #3a3a3c;
  text-align: center;
}

.pll-header h2 {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.pll-list {
  background-color: #2c2c2e;
}

.pll-item {
  background-color: #1c1c1e;
  margin: 8px 16px;
  border-radius: 8px;
  overflow: hidden; /* ẩn nội dung sau toggle */
  cursor: pointer;
}

.pll-item-header:hover {
  background-color: #234469;
}
.alg-3d {
  cursor: default;
}

.pll-item-header {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.pll-image {
  width: 250px;
  height: auto;
  border-radius: 8px;
  background-color: #3a3a3c;
}

.pll-info {
  flex: 1;
  margin-left: 20px;
  user-select: none;
}

.pll-name {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 4px;
}

.pll-algorithm {
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: #c5dbff;
  line-height: 1.4;
  text-align: center;
}

.expand-icon {
  width: 12px;
  height: 12px;
  border: 2px solid #8e8e93;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  transition: transform 0.2s;
}

.pll-item-content {
  max-height: 0;
  user-select: none;
  transition: max-height 0.3s ease;
}

.pll-item.expanded .pll-item-content {
  max-height: 200px;
}

.pll-details {
  padding: 0 16px 16px 16px;
  border-top: 1px solid #3a3a3c;
}

.algorithm-full {
  font-family: "Courier New", monospace;
  font-size: 16px;
  color: #ffffff;
  background-color: #2c2c2e;
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
  letter-spacing: 0.5px;
  text-align: center;
}
.algorithm-full:hover {
  background-color: #2a3550;
}
